.active {
  width: 80%;
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.disactive {
  width: 29%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  margin-bottom: 30px;
  flex-grow: 1;
  margin-left: 20px;
}

.containerRepeatability {
  height: 490px;
  width: 300px;
}

.containerRepeatability h2 {
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 8px;
  padding-right: 8px;
}

.containerRepeatability h3 {
  font-size: 16px;
  padding-left: 10px;
  margin-top: 40px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.containerRepeatability .flexConteiner {
  display: flex;
  justify-content: space-around;
  padding-top: 1px;
}

.containerRepeatability .flexConteiner input {
  text-align: center;
  height: 30px;
}

.containerRepeatability .flexConteiner p {
  margin-top: 6px;
}

.containerRepeatability .secondSection {
  margin-top: 30px;
}

.containerRepeatability .jackpot {
  position: relative;
}

.containerRepeatability .jackpot .active {
  position: absolute;
  left: 25%;
  width: 160px;
  color: red;
  font-size: 12px;
  box-shadow: none;
}

.containerRepeatability .jackpot .noNumbers {
  display: none;
}

.containerRepeatability button {
  margin-top: 40px;
  width: 70%;
  margin-left: 15%;
  height: 40px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.containerRepeatability button:hover {
  background-image: linear-gradient(to right, rgba(134, 141, 130, 0.538), rgba(241, 248, 248, 0.723));
  border: 1px solid #2f3232;
}

.results {
  display: block;
}

.results .analisisMainNumbers {
  margin-top: 97px;
  height: 180px;
}

.results .analisisMainNumbers .resultMain {
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.results .analisisMainNumbers p {
  font-size: 14px;
}

.results .analisisMainNumbers .resultContener {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  color: #c80505;
}

.results .analisisJackNumbers .resultJack {
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.results .analisisJackNumbers p {
  font-size: 14px;
}

.results .analisisJackNumbers .pInJackResults {
  padding-left: 20px;
}

.results .analisisJackNumbers .resultContener {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  color: #c80505;
}

.noresults {
  display: none;
}
