.containerHeader {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.containerHeader img {
  position: relative;
  top: -80px;
  z-index: -1;
}

.containerHeader .headerH2 {
  color: white;
  position: absolute;
  font-family: 'Red Hat Display';
  top: 20px;
  left: 50px;
}
